model-viewer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    margin: 0;     
    display: block; 
    z-index: -1;    
  }
  
.slider {
  position: fixed; 
  bottom: 16px;    
  left: 50%;       
  transform: translateX(-50%); 
  z-index: 10;     
  width: 100%;     
  overflow: hidden; 
  display: flex;   
  justify-content: center;  
  align-items: center;     
}

.slides {
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
  justify-content: center;  
  align-items: center;      /
}

.slide {
  flex-shrink: 0;
  width: 100px;    
  height: 100px;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

  .slide.selected {
    border: 2px solid #4285f4;
  }
  

  #ar-button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: #fff;
    border-radius: 18px;
    padding: 10px 20px;
    font-size: 14px;
    color: #4285f4;
    border: 1px solid #DADCE0;
    z-index: 20; 
  }
  
  
  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    display: none;
    transform: translateX(-50%);
  }
  
  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }
  
  
  model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
  }
  
  model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
  }
  