html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: radial-gradient(ellipse at center, #424242, black);
  color: white;
}

h1 {
  text-align: center;
  z-index: 2;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: clamp(1.7rem, 1.5vw, 3em);
}

.logo {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.preis_front {
  text-align: center;
}

.Porsche_front {
  width: 100%;
  height: auto;

}

div .nav-bar {
  z-index: 10;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-align: middle;
  z-index: 1;
}

nav {
  float: center;
  text-align: center;
}

li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 20px;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

nav a:hover {
  color: white;
}

/*#@media only screen and (max-width: 725px) {
  ul {
    display: inline-block;
    display: flex;
    line-height: 1px;
    flex-direction: column;
  }
}*/

model-viewer {
  margin-top: -250px;
  height: 900px;
  width: 100%;
  z-index: 0;
}

.model-container {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.hover-effect {
  transition: transform 1s ease;
}

.hover-effect:hover {
  transform: scale(1.10);
}

#space {
  height: 200px;
  width: 100%;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 100%);
}

p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

table {
  background-color: black;
  border: 1;
  border-collapse: collapse;
  width: 100%;
  padding: 1;
}

#gallery-pics {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 1s ease;
}
#gallery-pics:hover {
  transform: scale(0.9)
}

tr,
td,
th {
  text-align: center;
}